/*  your css code here. If applicable */
li{
	list-style: none
}
.footer {
	display: flex
}
nav ul {
	display: flex;
	justify-content: flex-end;
	gap: 20px
	
}
.sign{
	background-color: blue;
	color: white;
	padding: 8px;
	border: none;
	border-radius: 4px;

}












